@page "/employees"
@using SKBlazorReport.Client.Services
@using SKBlazorReport.Shared

@inject IEmployeeService EmployeeService

<h1>employees</h1>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Filing Name</th>
                <th>Filing Number</th>
             </tr>
        </thead>
        <tbody>
            @if (EmployeeService.Employees == null)
            {
                <tr><td><em>No Filing records...</em></td></tr>
            }
            else
            {
                @foreach (var employee in EmployeeService.Employees)
                {
                    <tr>
                        <td>@employee.EmployeeID</td>
                        <td>@employee.FirstName</td>
                        <td>@employee.LastName</td>
                    </tr>
                }
            }
        </tbody>
    </table>


@code {
    //private List<Filing> filings;

    protected override async Task OnInitializedAsync()
    {
        await EmployeeService.LoadEmployees();
    }
    //protected async override Task OnInitializedAsync()
    //{
    //    await LoadData();
    //    //return base.OnInitializedAsync();
    //}
    //public async Task LoadData()
    //{
    //    try
    //    {
    //        filings = await Http.GetFromJsonAsync<List<Filing>>("api/Filing");

    //    }
    //    catch (Exception ex)
    //    {
    //        Console.WriteLine(ex.Message);
    //    }
    //    StateHasChanged();
    //}
}
